{%extends 'hood/base.html'%}

{% block content %}
<div class="container">
  {% include 'hood/nav.html' %}
  
  <div class="cont">
    <div class="row">
      <div class="col-md-12">
        {% if bists %}
          {% for bist in bists %}
          <div class="posts">
            <img class = 'post-img' src="{{bist.bist_image.url}}" alt="{{post.title}}">
          </div>
          <div class="post-info">
            <h5>{{bist.name}}</h5>
            <p>Make a call at {{bist.mobile}}</p>
           <a class='btn btn-lg btn-primary' href="">Apply</a>
            <br>
            <small>{{post.date_posted}}</small>
            <br>
          </div>
          <hr>
          {% endfor %}
        {% else %}
        <div class="welcome">
          <h2>Hello {{request.user}}</h2>
          <h3 class = 'text-muted'>There are no business opportunities At the Moment</h3>
        </div>
          
        {% endif %}
  
      </div>
    </div>
  </div>

</div>

{% endblock%}