{% extends 'hood/base.html' %}

{% block content %}
<div class="nav">
  {% include 'hood/nav.html' %}
</div>
<section id = 'posts'>
  <div class="row">
    <div class="col-md-8">
            {% if posts %}
              {% for post in posts %}
              <div class="posts">
                <img class = 'post-img' src="{{post.image.url}}" alt="{{post.title}}">
              </div>
              <div class="post-info">
                <h5>{{post.title}}</h5>
                <p>{{post.caption}}</p>
                <small> Posted By:{{post.posted_by.username}}</small>
                <br>
                <small>{{post.date_posted}}</small>
                <br>
              </div>
              {% endfor %}
            {% else %}
              <h3 class = 'text-muted'>No Posts At the Moment</h3>
            {% endif %}
    </div>
    <div class="hoodinfo">
      <div class="col-md-4 ">
      
        <h3 class = 'text-center'>Hood Information</h3>
        <div class="name">
          <h5>Hood Name: </h5>
            <span>{{hood.name}}</span>
          
        </div>
        <hr>
        <div class="location">
          <h5>Location:</h5>
          <span>{{hood.location}}</span>
        </div>
        <hr>
        <div class="Description">
          <h5>Description:</h5>
          <span>{{hood.description}}</span>
        </div>
        <hr>
        <div class="location">
          <h5>Number of Occupants:</h5>
          <span>{{hood.residents}}</span>
        </div>
        <hr>
        <div class="location">
          <h5>Number of police Stations:</h5>
          <span>{{hood.police}}</span>
        </div>
        <hr>
        <div class="location">
          <h5>Number of Health Amenities:</h5>
          <span>{{hood.health}}</span>
        </div>
        <hr>
      </div>

    </div>
    
  </div>
</section>

{% endblock%}
  